 body{
 	background-image: url('../images/background.jpg');
 	background-repeat: no-repeat;
 	background-size: 100%;
 }

#logo {
	height: 250px ;

	width: ;

	margin: 15px;
}


#logo_fb {	
	 height: 75px ;
	 width:75px;
}

#logo_insta {	
	 height: 75px ; 
	 width:75px;
}

#logo_pinterest {	
	 height: 75px ; 
	 width:75px;
}


#i_produits {
	height: ; 
	width:;
}


#i_actu{
	height:  ; 
}


#i_livreor{
	height: ; 
	width:;
}


#i_quisommenous{
	height:  ; 
	width:;
}

.reseau { padding-top: 1px;
			padding-left: 45px;
	
}

.footer {
	padding-bottom: 0px;
}
